<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style_admin.css">
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Admin Dashboard </h2>
       
      </div>
      <div class="col-md-6">
        {% if  session['logged_in_admin'] %}
        <form class="form-inline my-2 my-lg-0">
          <a href="{{ url_for('logout') }}" class="btn btn-outline-primary my-2 my-sm-0">Logout</a>
        </form>
        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ url_for('login') }}">Login</a>
         
        </ul>
        {% endif %}
       
      </div>

      
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Number of Applied Applications</h5>
            <p class="card-text">{{data}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categories of Job Positions</h5>
            {% for element in result_categories %}
            <p class="card-text">{{ element['position']  }}</p>
            {% endfor %}
            <!-- Add more categories dynamically if needed -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h5>Table of Applicants</h5>
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th style="background-color: rgb(66, 169, 239);">Name</th>
              <th style="background-color: rgb(66, 169, 239);">position</th>
              <th style="background-color: rgb(66, 169, 239);">work_experience</th>
              <th style="background-color: rgb(66, 169, 239);">Email</th>
              <th style="background-color: rgb(66, 169, 239);">resume link</th>
            </tr>
          </thead>
          {% for result in result  %}
          <tbody >
            <!-- Applicants will be dynamically added here -->
            <td>{{ result['full_name']  }}</td>
            <td> {{ result['position']   }}</td>
            <td>{{ result['work_experience']   }}</td>
            <td>{{ result['email'] }}</td>
            <td>{{result['resume_url']}}</td>
        </tbody>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="{{  url_for('static', filename='js/script.js' )  }}"></script>

</body>
</html>
