<div class="row" style="border-bottom: 1px solid black; padding-bottom: 20px;">
<!-- <div class="row"> -->
    <div class="col-9">
            <div style="margin-bottom: 10px;"><h1>{{ job['title'] }}</h1></div>
            <div style="color: black; margin-bottom: 5px;"><h3><b>Location: </b>{{ job['location'] }}</h3></div>
            {% if 'salary' in job %}
            <div style="color: black; margin-bottom: 5px;"><h3><b>Salary: {{job['currency']}}</b>{{ job['salary'] }}</h3></div>
            {% endif %}
        </div>
    <!-- </div> -->
    <div class="col-3 d-flex align-items-end justify-content-end">
        <a href="/job/{{job['id']}}" class="btn btn-primary">Apply</a>  <!--apply for the job-->
    </div>
</div>
